.title{
  color: mediumblue;
  transform: translate(30px, 20px) rotate(-20deg);
  width: 200px;
  height: 60px;
  font-size: 25px;
  
}
li{
  list-style: none;
}
header{
  position: fixed;
  text-align: right;
  right: 10%;
  top:20px;
  background-color: mediumpurple;

}
.todoList{

  display: flex;
  flex-wrap: wrap;

  height:400px;
  
  align-content: space-around; 
  justify-content: space-evenly;
  padding : 20px;
  background-color: mediumturquoise;
}
.todo ,.doing ,.done{

  width: 200px;
}
.todo-title,.doing-title,.done-title{
  background-color: #004d99;
}